<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Search with Tabs</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/post/createPost.css">
  <link rel="stylesheet" href="/css/search/search.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <script th:src="@{/js/auth/auth.js}" defer></script>
  <script th:src="@{/js/post/createPost.js}" defer></script>
</head>
<body>
<div class="container">
  <th:block th:replace="~{common/sidebar :: sidebar}"></th:block>
  <main class="content-container">
    <div class="search-container">

      <div class="search-bar">
        <input type="text" id="search-input" placeholder="검색">
      </div>

      <div class="tabs">
        <button id="tab-name" class="active" onclick="selectTab('name')">이름</button>
        <button id="tab-tag" onclick="selectTab('tag')">태그</button>
        <button id="tab-account" onclick="selectTab('account')">계정</button>
      </div>

      <div class="results">
        <ul id="results-list"></ul>
      </div>
    </div>
  </main>
</div>

<th:block th:replace="~{/common/createModal :: createModal}"></th:block>
<!-- 임시 저장 모달 -->
<th:block th:replace="~{common/tempModal :: tempModal}"></th:block>


<script th:src="@{/js/search/search.js}"></script>
<script th:src="@{/js/mypage/mypageNav.js}"></script>
</body>
</html>
