<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시물 상세보기</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/post/postDetail.css">
  <link rel="stylesheet" href="/css/comment/comment.css">
  <link rel="stylesheet" href="/css/like/like.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script th:src="@{/js/auth/auth.js}" defer></script>
  <script th:src="@{/js/post/postDetail.js}" defer></script>
  <script th:src="@{/js/comment/comment.js}"></script>
  <script th:src="@{/js/like/commentLike.js}"></script>
  <script th:src="@{/js/like/replyLike.js}"></script>
  <script th:src="@{/js/like/postLike.js}"></script>
</head>
<body>
<div class="modal" id="postModal">
  <div class="modal-content">
    <button class="close-btn" onclick="closePostDetailModal()">&times;</button> <!-- 모달 닫기 버튼 -->
    <div class="left-content">
      <button class="nav-button prev" id="prevButton" onclick="prevImage(event)"
              style="display: none;">&#10094;
      </button>
      <!-- 이전 이미지 버튼 -->
      <div id="imageContainer" class="image-slider"></div> <!-- 이미지 슬라이더 컨테이너 -->
      <button class="nav-button next" id="nextButton" onclick="nextImage(event)"
              style="display: none;">&#10095;
      </button>
      <!-- 다음 이미지 버튼 -->
    </div>
    <div class="right-content">
      <div class="header">
        <div class="profile">
          <img id="profileImage" src="/image/profile/profile.png" alt="사용자의 프로필 이미지"> <!-- 기본 이미지 -->
          <div class="profile-info">
            <span id="nicknameDisplay"></span>
            <div id="petInfo">
              <span id="petNameDisplay"></span>
              <span id="petSexDisplay"></span>
              <span id="petAgeDisplay"></span>살
            </div>
          </div>
        </div>
        <div class="more-options" onclick="toggleDropdownMenu()">⋮</div> <!-- 더보기 옵션 버튼 -->
      </div>
      <div id="postContent" class="post-content"></div><!-- 게시물 내용 컨테이너 -->
      <div id="tagList" class="tag-list"></div><!--태그 목록-->
      <div id="comment-list" class="comment-list"></div> <!-- 댓글 목록 -->
      <div class="postDetail-footer-box">
        <div class="liked-box-post">
          <!-- 좋아요 버튼 및 유저 목록 모달을 호출하는 부분 -->
          <span id="likeButton" class="like-button material-icons"
                onclick="toggleLikePost(postId, this, document.getElementById('likeCountSpan'))">
          favorite_border
        </span>
          <span id="likeCountSpan" class="like-count"
                onclick="fetchUsersWhoLikedPost(postId).then(showLikeUserModalPost)">0</span>
        </div>
        <div class="bookmark-section">
          <img id="bookmarkIcon"
               src="https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsrounded/bookmark/default/24px.svg"
               alt="북마크 아이콘" onclick="toggleBookmark()">
        </div>
      </div>
      <div class="comment-form">
        <textarea id="comment-content" placeholder="댓글 달기 .." required></textarea>
        <button id="commentButton">작성</button> <!--postId에 댓글 달기-->
      </div>

    </div>
  </div>
</div>

<div class="dropdown-menu" id="dropdownMenu"> <!-- 드롭다운 메뉴 -->
  <a href="javascript:void(0);" class="delete" style="display:none;" onclick="deletePost()">삭제</a>
  <a href="javascript:void(0);" class="edit" style="display:none;" onclick="openEditModal()">수정</a>
  <a href="javascript:void(0);" class="like-hide" style="display:none;">다른 사람에게 좋아요 수 숨기기</a>
  <a href="javascript:void(0);" class="comment-toggle" style="display:none;" onclick="toggleComments()">댓글 기능 해제</a>

  <a href="javascript:void(0);" class="report" style="display: none;">신고</a>
  <a href="javascript:void(0);" class="copy-link" onclick="copyLinkToClipboard()">링크 복사</a>
  <a href="javascript:void(0);" onclick="toggleDropdownMenu()">취소</a>
</div>

<div class="edit-modal" id="editModal"> <!-- 수정 모달 -->
  <div class="edit-modal-content">
    <button class="close-btn" onclick="closeEditModal()">&times;</button> <!-- 수정 모달 닫기 버튼 -->
    <div class="edit-left-content">
      <button class="nav-button prev" id="prevEditButton" onclick="prevEditImage(event)"
              style="display: none;">&#10094;
      </button>
      <!-- 이전 이미지 버튼 -->
      <div id="editImagePreviewContainer"></div> <!-- 이미지 미리보기 컨테이너 -->
      <button class="nav-button next" id="nextEditButton" onclick="nextEditImage(event)"
              style="display: none;">&#10095;
      </button>
      <!-- 다음 이미지 버튼 -->
    </div>
    <div class="edit-right-content">
      <div class="header">게시물 수정</div>
      <form id="editForm" enctype="multipart/form-data">
        <input type="text" id="editContent" name="content" placeholder="내용을 입력하세요">
        <!-- 수정 내용 입력 -->
        <button type="button" onclick="submitEdit()">저장</button> <!-- 저장 버튼 -->
        <button type="button" onclick="closeEditModal()">취소</button> <!-- 취소 버튼 -->
      </form>
    </div>
  </div>
</div>

<div id="like-user-modal" class="modal-like">
  <div class="modal-content-like">
    <div class="like-modal-top">
      <h2>좋아요</h2>
      <span class="close-like" onclick="closeModal()">&times;</span>
    </div>
    <div class="user-list">
      <!-- 유저 목록이 동적으로 추가됩니다 -->
    </div>
  </div>
</div>
</body>
</html>
