/* 계정 공개/비공개 스위치 배경 */
#switch {
  display: block;
  position: relative;
  width: 100px;
  height: 35px;
  background: #d3d3d3;
  border-radius: 60px;
  transition: background 0.4s;
}

/* 계정 공개/비공개 스위치 -> 레이블 가상요소(스위치 버튼) */
#switch::after {
  content: " ";
  position: absolute;
  left: 2.5px;
  top: 50%;
  width: 40px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
  transform: translateY(-50%);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

/* 계정 공개/비공개 스위치 -> 레이블 가상요소 */
#switch::before {
  content: "비공개";
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
}

/* 계정 공개/비공개 스위치 -> 레이블 가상요소 */
#public_status:checked + label {
  background: rgba(109, 104, 107)
}

/* 계정 공개/비공개 스위치 -> 체크되었을때 배경 */
#public_status:checked + label::after {
  left: calc(100% - 42.5px);
}

/* 계정 공개/비공개 스위치 -> 체크되었을때 버튼 */
#public_status:checked + label::before {
  content: "공개";
  color: #fff;
  left: 15px;
}