<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FluffyTime</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
</head>
<body>
<div class="container">
  <aside class="sidebar">
    <h2>FluffyTime</h2>
    <ul>
      <li>
        <span class="material-symbols-rounded">home</span>
        <a href="#">홈</a>
      </li>
      <li>
        <span class="material-symbols-rounded">search</span>
        <a href="#">검색</a>
      </li>
      <li>
        <span class="material-symbols-rounded">explore</span>
        <a href="#">탐색 탭</a>
      </li>
      <li>
        <span class="material-symbols-rounded">add_box</span>
        <a href="#">만들기</a>
      </li>
      <li>
        <span class="material-symbols-rounded">person</span>
        <a href="#">프로필</a>
      </li>
      <li>
        <span class="material-symbols-rounded">favorite</span>
        <a href="#">알림</a>
      </li>
    </ul>
    <div class="more-menu">
      <span class="material-symbols-rounded">menu</span>
      <a href="#">더보기</a>
    </div>
  </aside>
  <main class="content">
    <h1> 메인 홈페이지 입니다.</h1>
    <button id="mypageBtn">마이페이지</button>
    <button id="userpageBtn">유저페이지</button>
  </main>
</div>
<script>
  document.getElementById("mypageBtn").addEventListener('click', event => {
    window.location.href = "mypage/test";
  });
  document.getElementById("userpageBtn").addEventListener('click', event => {
    window.location.href = "mypage/test";
  });

</script>
