<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>비밀번호찾기</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/login/findPassword.css">
  <script th:src="@{/js/login/findPassword.js}" defer></script>
</head>
<body>
<div class="container">
  <h1>비밀번호찾기</h1>
  <form id="findPasswordForm">
    <p class="email-error error hidden"></p>
    <div class="input">
      <label for="email"></label>
      <input type="text" id="email" name="email" placeholder="이메일을 입력해주세요.">
    </div>
    <button type="submit" id="sendBtn" name="sendBtn">비밀번호 변경링크 전송</button>
    <div class="result">
      <p class="resultMsg"></p>
    </div>
  </form>
</div>
</body>
</html>