<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>댓글 테스트용 화면</title>
  <link rel="stylesheet" href="/css/comment/comment.css">
</head>
<body>
<div>
  <h2>댓글 테스트</h2>
  <div>
    <textarea id="comment-content" placeholder="댓글 내용 적기" required></textarea>
    <button onclick="postComment(2)">댓글 달기</button> <!--postId 2번에 댓글 달기-->
  </div>
  <div id="status-message"></div>
  <div id="comment-list"></div>
</div>
<script th:src="@{/js/comment/comment.js}"></script>
</body>
</html>